.side_bar
  .header
    .header__box
      .header__box__user-name
        = current_user.name
      .header__box__lists
        .icon-edit        
          = link_to new_group_path do
            = icon('fa', 'edit', class: 'icon-edit')
        .icon-cog
          = link_to edit_user_path(current_user) do
            = icon('fa', 'cog', class: 'icon-cog')
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message
    